<div class="data-diagram-container">
  <form #myForm="ngForm" action="">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a start date</mat-label>
      <input name="inputDate" matInput [matDatepicker]="picker" [(ngModel)]="inputDate" [min]="minDate" [max]="maxDate"
        required="">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker>
      </mat-datepicker>
    </mat-form-field>
    <button [disabled]="!myForm.valid" type="submit" class="ms-3" (click)="onSubmit()" mat-flat-button
      color="warn">Show</button>
  </form>
  <canvas id="myChart" width="400" height="175"></canvas>
</div>
<div class="rotate-info">
  <h1>Please rotate the screen to see Bitcoin Analytic.</h1>
</div>
